@model MovieStore.Core.Entities.Movie
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h1>Create a movie</h1>

<form methid =" post" action="">
    Title: <input type = "text" name = "title" id = " " class="" required /><br />
    Overview: <input type = "text" name="Overview" id=" " class="" /><br />
    Tagline: <input type = "text" name="Tagline" id=" " class="" /><br />
    <input type = "submit" value="Save Movie" />
</form>



